body {
    height: 100%;
    position: relative;
    font: 18px/1.5 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background: #f2f2f2;
}
#header{
	    position: fixed;
	    width: 100%;
	    top: 0;
	    left: 0;
	    z-index: 2;
	    background: #999;
	    box-shadow: 0 0 10px #ccc;
	    -webkit-transition: all 5s ease;
	    transition: all 5s ease;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
}
header #logo{
	float: left;
    margin: 5px 30px;
}
header #logo:after {
	clear:both;
}
#header_p1 {
    margin: 0px 15px 5px;
    padding: 5px 15px;
    width: 50px;
    border-bottom: 1px solid #333;
}
#header_p2 {
    padding: 0 15px;
}
#header_p{
	float:left;
	margin-left: 15px;
	text-align: center;
	color: #000;
}
@media screen and (max-width: 1366px)
#header {
    height: 60px;
}
ul.navbar li a{
	line-height: 30px;
    padding: 15px 0;
    position: relative;
    color: #666;
	position: relative;
	display: block;
}
a{
	text-decoration: none;
	color: #000;
}
ul.navbar{
	padding-top: 60px;
	display: none;
}
.navbar li a:hover:after {
    left: 0;
    right: 0;
    opacity: 1;
}
.navbar li a:after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    background: #1FAEFF;
    opacity: 0;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
}
@media (min-width: 768px){
	ul.navbar{
		padding-top: 0px;
		display: block;
	}
	ul.navbar>li{
		float: left;
		list-style: none;
	    position: relative;
		display: block;
	    margin: 0 20px;
	}
	.navbar-toggle {
	    display: none;
	}
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #888;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.icon-bar {
    background-color: #888;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.home_zoom{
	-webkit-animation: zoom 4s ease-in-out;
		 animation: zoom 4s ease-in-out;
}
.home_info_li{
	width: 800px;
	margin: 15px auto;
	text-align: center;
	display: none;
}
.title {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    height: 60px;
}
.title_en {
    width: 0;
    margin: 3px auto;
    padding: 5px 0;
    border-top: 2px solid #f00;
}
h1 {
    width: 150px;
    margin: 0 auto;
    font-size: 32px;
    font-weight: bold;
}
.title_en h2 {
    display: none;
}

h2 {
    font-family: "allerbold";
    font-weight: bold;
    color: #f00;
    text-transform: uppercase;
    font-size: 14px;
}
#about_list_content{
	overflow:hidden;
}

#about_list_content p:before{
	    display: block;
	    content: "";
	    position: absolute;
	    background: #ccc;
	    height: 2px;
	    width: 100px;
	    bottom: 25px;
	    -webkit-transform: rotate(-30deg);
	    transform: rotate(-30deg);
}
#about_list_content:after{
	clear:both;
}

#about_info{
	width: 0px;
    height: 160px;
/*		    margin: 50% auto;
*/
	margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#about_info:before,#about_info:after{
	position:absolute;
	width:50px;
	height:50px;
	content:"";	
}
#about_info:before{
	border-top: 2px solid #5686D6;
	border-left: 2px solid #5686D6;
	top: 0;
	left: 0;
}
#about_info:after{
	border-right: 2px solid #5686D6;
	border-bottom: 2px solid #5686D6;
	right: 0;
	bottom: 0;
}
#about_info p{
    text-align: center;
    line-height: 40px;
    position: relative;
    top: 300px;
    transition:top .8s;
}


@media screen and (max-width:1366px){
	body {
		font-size: 13px;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 12px;
	}
	.title {
		margin-top: 75px;
	}
}


.about_list_item{
	float:left;
	padding:20px 0;
	width:200px;
}
.about_list_item:hover .about_list_eg {
	background: rgba(255,255,255,1);
	color: #702fa8;
	box-shadow: 0 0 0 8px rgba(255,255,255,0.3);
}
.about_list_item:hover .about_list_eg img{
	-webkit-animation: l_to_r 1s forwards;
	-moz-animation: l_to_r 1s forwards;
	-o-animation: l_to_r 1s forwards;
	animation: l_to_r 1s forwards;
}
.about_list_eg {
	margin: 0 auto;
	width: 80px;
	height: 80px;
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	border-radius: 50%;
	overflow: hidden;
	color: #fff;
	-webkit-transition: background 1s, color 1s, box-shadow 1s;
	transition: background 1s, color 1s, box-shadow 1s;
}
.about_list_eg img{
	width: 60px;
	height;60px;
	margin:10px;
}
.about_list_eg:hover{
	background-color: red;
}

@-webkit-keyframes l_to_r {
	49% {
		-webkit-transform: translate(100%);
		transform: translate(100%);
	}
	50% {
		-webkit-transform: translate(-100%);
		transform: translate(-100%);
		opacity: 0;
	}
}
@-moz-keyframes l_to_r {
	49% {
		transform: translate(100%);
	}
	50% {
		transform: translate(-100%);
		opacity: 0;
	}
}
@-o-keyframes l_to_r {
	49% {
		transform: translate(100%);
	}
	50% {
		transform: translate(-100%);
		opacity: 0;
	}
}
@keyframes l_to_r {
	49% {
		transform: translate(100%);
	}
	50% {
		transform: translate(-100%);
		opacity: 0;
	}
}

@-webkit-keyframes b_to_t {
	0%{
		-webkit-transform: translateY(20px);
		transform: translateY(20px);	
		opacity: 0.1;
	}	
	100%{
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@-moz-keyframes b_to_t {
	0%{
		transform: translateY(20px);	
		opacity: 0.1;
	}	
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}
@-o-keyframes b_to_t {
	0%{
		transform: translateY(20px);	
		opacity: 0.1;
	}	
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes b_to_t {
	0%{
		transform: translateY(20px);	
		opacity: 0.1;
	}	
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}
.b_to_t {
	-webkit-animation: b_to_t 1s;
	-moz-animation: b_to_t 1s;
	-o-animation: b_to_t 1s;
	animation: b_to_t 1s;
	visibility: visible;
}

#skill_list{
			width:800px;
			height: 200px;
			margin: 15px auto;	
			border-radius: 15px;
		} 
		#skill_list .skill_item{
			float: left;
			width: 200px;
			height:200px;
			text-align: center;
			position: relative;
		}
		#skill_list .skill_item ul{
			display: none;
			width: 240px;
			padding: 10px;
			background-color: yellow;
			position: absolute;
			z-index: 200;
			top:140px;
			left: -20px;
			border-radius:10px;
			text-align: center;
			background-color: rgba(103, 58, 183, 0.77);
			color: #fff;
			line-height: 24px;
			font-size: 14px;
		}
		.skill_item:after{
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			background-image:url(../images/angle-top.png);
			background-size:100% 100%;
			margin:10px auto;  
		}
		.skill_item.selected:after{
			transform:rotate(180deg);
			-webkit-transform:rotate(180deg);
			transition: transform .27s; 
		}

		.skill_name img{
			width:100px;
			height:100px;
		}
		.skill_name:hover{
			-webkit-transform: scale(1.2);
		    transform: scale(1.2);
		    transition: transform .25s;
		}
		#skill_list:after{
			clear: both;
		}
		#contact_believe_en span:nth-child(1){
			color:#f63;
		}
		#contact_believe_en span:nth-child(2){
			color:#3cf;
		}
		#contact_believe_en span:nth-child(3){
			color:#795548;
		}
		#contact_believe_en span:nth-child(4){
			color:#4CAF50;
		}
		#contact_believe_en span:nth-child(5){
			color:#673AB7;
		}
		.footer{
			 line-height: 24px;
		    font-size: 8px;
		    text-align: center;
		    color: #666;
		}
		footer{
		    position: absolute;
		    bottom: 0;
		    padding-top: 10px;
		    width: 100%;
		    border: #ccc 2px solid;
		}
		.section{
			    position: relative;
			    -webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    box-sizing: border-box;
			    overflow:hidden;
		}
		footer a{
			padding: 0 8px;
		}
		#clock{
			position:fixed;
			top:68px;
			left: 30px;
			z-index: 999;
			width: 90px;
			height:90px;
			border-radius: 50%;
			border:2px solid #dfdfdf;
		}
	
		#clock .centerdot,#hourhand,#minutehand{
			position: absolute;
		    left: 50%;
		    top: 50%;
			width:8px;
			height:8px;
			background-color: #dfdfdf;
			margin-left: -4px;
			margin-top: -4px;
			-webkit-transform-origin: center bottom;
		    -moz-transform-origin: center bottom;
		    -ms-transform-origin: center bottom;
		    -o-transform-origin: center bottom;
		    transform-origin: center bottom;
		    -webkit-transform: rotate(0deg);
		    -moz-transform: rotate(0deg);
		    -ms-transform: rotate(0deg);
		    -o-transform: rotate(0deg);
		    transform: rotate(0deg);
		}
		#hourhand,#minutehand{
			width:4px;
			margin-left: -2px;
			margin-top: -2px;
		}
		#exp_slider{
			width: 800px;
			overflow: hidden;
			margin: 50px auto;
			border-radius:20px;
			box-sizing: border-box;
			color: #fff;
			background-color: #663399;
		}
		/*#exp_slider_content:before{
			content: '';
			display: block;
			position: absolute;
			left: 5%;
			right: 5%;
			bottom: 0;
			height: 15%;
			box-shadow: 0 0px 30px #333;
			border-radius: 100%;
		}*/
		ul#exp_list{
			width: 2400px;
			height:300px;
			position: relative;
		}
		ul#exp_list:after{
			clear: both;
		}
		ul#exp_list li{
			width: 800px;
			height:300px;
			float: left;
		}
		ul#exp_list li dl{
			/*margin: 0;*/
			margin: 57px 0 0 120px;
		}
		ul#exp_list li dl dt{
				font-size:24px;
		}
		ul#exp_list li dl dd{
				width: 480px;
				position: relative;
				line-height:24px;
		}
		ul#exp_list li dl dd:before {
		    position: absolute;
		    left: -15px;
		    top: 10px;
		    content: "";
		    width: 4px;
		    height: 4px;
		    background: #fff;
		    border-radius: 50%;
		}

		.arrow-left{
			position: absolute;
			top:150px;
			margin-top: -20px;
			left:40px; 
			z-index: 99;
			background-image: url(../images/arrow-right.png);
			transform:rotate(-180deg);
			width: 40px;
			height: 40px;
			background-size: 100% 100%; 
		}
		.arrow-left:hover{
			background-image: url(../images/arrow-right-actived.png);
		}

		.arrow-right{
			z-index: 99;
			position: absolute;
			top:150px;
			margin-top: -20px;
			right:40px;
			background-image: url(../images/arrow-right.png);
			width: 40px;
			height: 40px;
			background-size: 100% 100%; 
		}
		.arrow-right:hover{
			background-image: url(../images/arrow-right-actived.png);
		}
		